body{
    margin: 0;
    padding: 0;
    background-image: url('https://github.com/Spectrallrepos/weather-app/blob/master/bg-img/storm.jpg?raw=true');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
    "navbar"
    "body"
    "footer";
}
nav{
    grid-area: navbar;
}
nav>ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    margin: 0;
    background-color: rgba(29, 29, 29, 0.9);
    position: sticky;
    top: 0;
    border-radius: 0 0 10px 10px;
}
nav>ul>li>a{
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    cursor: pointer;
}
footer{
    grid-area: footer;
    background-color: rgba(29, 29, 29, 0.9);
    color: white;
    text-decoration: none;
    font-size: 1rem;
}
#overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
#card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background:linear-gradient(rgba(142, 142, 142, 0.3), rgba(249, 249, 249, 0.5));
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(4, 5, 18, 0.7);
    backdrop-filter: blur(10px);
    width: 75%;
    height: 75%;
}

.details{
    position: relative;
    color:rgba(0, 0, 0, 0.75);
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 3rem 1fr;
    grid-template-columns: 40% 60%;
    grid-template-areas:
        "search search"
        "info otherInfo";
}

/*search section*/
#search{
    grid-area: search;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}
#search input{
    flex: 1;
    height: 70%;
    color: rgba(255, 255, 255, 0.722);
    background-color: rgba(29, 29, 29, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.492);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
#search button{
    height: 100%;
    width: auto;
    border: none;
    border-radius: 10px;
    font-size: 1.6rem;
    margin-top: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    cursor: pointer;
}

/*Main Details Section*/
#mainDetails{
    grid-area: info;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Other Details Section*/
#otherDetails{
    grid-area: otherInfo;
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    margin-top:25px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    padding: 20px;
    gap:10px;
}
#otherDetails div{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}
#otherDetails div>p{
    font-size: 1.5rem;
}
